Source: libtertiusqbit-application-model-db-mysql-rbac-perl
Section: perl
Priority: extra
Maintainer: Dmitry Lukiyanchuk <wtertius@gmail.com>
Build-Depends: debhelper (>= 8.0.0), perl, libtertiusqbit-perl, libtertiusqbit-application-model-rbac-db-perl, libtertiusqbit-application-model-db-mysql-perl
Standards-Version: 3.9.4

Package: libtertiusqbit-application-model-db-mysql-rbac-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libtertiusqbit-perl, libtertiusqbit-application-model-rbac-db-perl, libtertiusqbit-application-model-db-mysql-perl
Conflicts: libqbit-application-model-db-mysql-rbac-perl
Replaces: libqbit-application-model-db-mysql-rbac-perl
Description: MySQL tables for QBit::Application::Model::RBAC::DB.
 MySQL tables for QBit::Application::Model::RBAC::DB.
